<a href="https://colab.research.google.com/github/Ar1720/Practise/blob/main/2af_short.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.read_excel('/content/drive/MyDrive/Spreadsheet/Short1.xlsx')

In [ ]:
import pandas as pd

df = pd.read_excel("/content/drive/MyDrive/Spreadsheet/Short1.xlsx")
print(df)

In [ ]:
import pandas as pd

df = pd.read_excel("/content/drive/MyDrive/Spreadsheet/Short1.xlsx")
print(df.head(3))
print(df.loc['Wales'])

In [28]:
import pandas as pd
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])

print(df)
print('space space space space space space space')
print(df.loc['viper'])

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8
space space space space space space space
max_speed    4
shield       5
Name: viper, dtype: int64