<a href="https://colab.research.google.com/github/Ar1720/Practise/blob/main/2af_short.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# code doesnt work
from google.colab import drive
drive.read_excel('/content/drive/MyDrive/Spreadsheet/Short1.xlsx')

In [ ]:
# code works
import pandas as pd

df = pd.read_excel("/content/drive/MyDrive/Spreadsheet/Short2.xlsx")
print(df)

In [ ]:
# code works
import pandas as pd

df = pd.read_excel("/content/drive/MyDrive/Spreadsheet/Short1.xlsx")
print(df.head(1))

In [ ]:
# code works
import pandas as pd
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])

print(df)
print('space space space space space space space')
print(df.loc['viper'])

In [ ]:
# code works
import pandas as pd

# this gets rid of 1st unnamed column in csv
# df = pd.read_csv('data.csv', index_col=0)

df1a = pd.read_excel("/content/drive/MyDrive/Spreadsheet/Short1.xlsx", skiprows=4)
# df1a("Postcode ").astype('float').dtypes
# dtype='int32'
# df1a.to_csv("df1acsv.csv", encoding="utf-8")
# df.to_parquet("df1apar.parquet", compression="Snappy")

# print(df1a)
# print(df1a.columns)
# print(df1a.head)
# print(df1a.info)
print(df1a['PostCode '])
print("this is the maximum value for installed capacity")
print(df1a['Installed capacity'].max())
print("this is the minimum value for installed capacity")
print(df1a['Installed capacity'].min())
print(df1a.shape)
print(df1a[['Export status','Local Authority']])
print(df1a['Tariff Description'].value_counts())
print(df1a.columns)
print("ugly betty was overrated")
print(df1a.tail())
print('OJ simpson killed his wife')
print(df1a.info())
#df.loc["2018-02:2018-03","Installed capacity"].max
# df1a.to_parquet("example_pa.parquet", engine="pyarrow")
# cf1a = pd.read_csv("/content/drive/MyDrive/Spreadsheet/Short1csv.csv", encoding='utf-8-sig')
# df1a.to_parquet("cf1a.parquet", engine="pyarrow")
df2a = pd.read_excel("/content/drive/MyDrive/Spreadsheet/Short2.xlsx")
df3a = pd.read_excel("/content/drive/MyDrive/Spreadsheet/Short3.xlsx")
# df.loc[:,] = pd.to_datetime(df.loc[:,], utc=True) for datetime in espeni

# df = df.set_index("") for setting index, you use ELEC_ELEX_startOfSP datetime
# print(df1a)
# print ('Kroy needs to get divorced from kim and save his children')
# print(df1a.iloc[3])

0        NP26
1        CF62
2        NN16
3        LL13
4        NN17
5        B7
6        SY4
7        SY7
8        TA20
9        SY8
10       HR3
11       TA5
12    Unknown
13       HR3
14       SA42
15       LL20
16       LL24
17       PH15
18       IV27
19       SY23
20       KA30
21       EH26
22       S36
23       PA28
24       TA22
Name: PostCode , dtype: object
this is the maximum value for installed capacity
2000.0
this is the minimum value for installed capacity
1.0
(25, 21)
                 Export status            Local Authority
0   Export (Negotiated Tariff)              Monmouthshire
1     Export (Standard Tariff)          Vale of Glamorgan
2   Export (Negotiated Tariff)                  Kettering
3   Export (Negotiated Tariff)                    Wrexham
4                    No Export                      Corby
5                    No Export                 Birmingham
6   Export (Negotiated Tariff)                 Shropshire
7   Export (Negotiated Tariff)   Herefordshire- County of
8     Export (Standard Tariff)             South Somerset
9   Export (Negotiated Tariff)                 Shropshire
10  Export (Negotiated Tariff)   Herefordshire- County of
11  Export (Negotiated Tariff)                  Sedgemoor
12  Export (Negotiated Tariff)                    Unknown
13  Export (Negotiated Tariff)   Herefordshire- County of
14             Export (Deemed)              Pembrokeshire
15  Export (Negotiated Tariff)               Denbighshire
16  Export (Negotiated Tariff)                      Conwy
17  Export (Negotiated Tariff)          Perth and Kinross
18  Export (Negotiated Tariff)                   Highland
19        No Export (Off-Grid)                 Ceredigion
20  Export (Negotiated Tariff)             North Ayrshire
21    Export (Standard Tariff)                 Midlothian
22             Export (Deemed)                   Barnsley
23    Export (Standard Tariff)            Argyll and Bute
24             Export (Deemed)  Somerset West and Taunton
Hydro (>100kW–2MW)-2011/12                                           3
Hydro (>15–100kW )-2011/12                                           3
Hydro (>15–100kW )-2012/13                                           2
Anaerobic Digestion (>500kW)-2012/13                                 2
Hydro (<=15kW)-2011/12                                               2
Anaerobic Digestion (>500kW)-2014/15                                 2
Anaerobic Digestion (>500kW)-2015/16                                 1
Hydro (>100kW–2MW)-2012/13                                           1
Anaerobic Digestion (<=250kW)-2015/16                                1
Anaerobic Digestion (<=500kW)-2011/12                                1
Anaerobic Digestion (>500kW)-2013/14 Comp Review 2B - Reduced        1
Anaerobic Digestion (>250-500kW)-2012/13 - Comp Review 2B            1
Anaerobic Digestion (>250-500kW)-2012/13                             1
Anaerobic Digestion (>250-500kw)-2011/12 - Post Fast Track Review    1
Anaerobic Digestion (<=250kW)-2012/13                                1
Anaerobic Digestion (<=500kW)-2010/11                                1
Anaerobic Digestion (>250-500kW)-2013/14 - Comp Review 2B            1
Name: Tariff Description, dtype: int64
Index(['Extension (Y/N)', 'PostCode ', 'Technology', 'Installed capacity',
       'Declared net capacity', 'Application date ', 'Commissioning date',
       'MCS issue date', 'Export status', 'TariffCode', 'Tariff Description',
       'Installation Type', 'Installation Country', 'Government Office Region',
       'Local Authority', 'Constituency', 'Accreditation Route', 'MPAN Prefix',
       'Community school category', 'LLSOA Code', 'MLSOA Code'],
      dtype='object')
ugly betty was overrated
   Extension (Y/N) PostCode  Technology  Installed capacity  \
20               N      KA30      Hydro               330.0
21               N      EH26      Hydro               295.0
22               N      S36       Hydro                14.9
23               N      PA28      Hydro                45.0
24               N      TA22      Hydro                25.0

    Declared net capacity Application date  Commissioning date  \
20                  329.9        2011-09-12         2011-10-05
21                  289.6        2011-09-30         2011-12-13
22                   14.9        2011-12-02         2011-12-24
23                   45.0        2011-11-06         2012-03-13
24                   21.0        2012-01-20         2012-01-19

    MCS issue date               Export status    TariffCode  ...  \
20             NaN  Export (Negotiated Tariff)  HY/100-2M/02  ...
21             NaN    Export (Standard Tariff)  HY/100-2M/02  ...
22             NaN             Export (Deemed)    HY/0-15/02  ...
23             NaN    Export (Standard Tariff)  HY/15-100/02  ...
24             NaN             Export (Deemed)  HY/15-100/02  ...

            Installation Type Installation Country  Government Office Region  \
20  Non Domestic (Commercial)             Scotland                  Scotland
21  Non Domestic (Industrial)             Scotland                  Scotland
22  Non Domestic (Commercial)              England  Yorkshire and The Humber
23  Non Domestic (Commercial)             Scotland                  Scotland
24                   Domestic              England                South West

              Local Authority                  Constituency  \
20             North Ayrshire      North Ayrshire and Arran
21                 Midlothian                    Midlothian
22                   Barnsley    Penistone and Stocksbridge
23            Argyll and Bute               Argyll and Bute
24  Somerset West and Taunton  Bridgwater and West Somerset

   Accreditation Route MPAN Prefix  Community school category LLSOA Code  \
20              ROOFIT        18.0    Not Community Or School  S01011334
21              ROOFIT        18.0    Not Community Or School  S01010955
22              ROOFIT        23.0    Not Community Or School  E01007426
23              ROOFIT        17.0    Not Community Or School  S01007332
24              ROOFIT        22.0    Not Community Or School  E01029338

   MLSOA Code
20  S02002130
21  S02002056
22  E02001535
23  S02001379
24  E02006117

[5 rows x 21 columns]
OJ simpson killed his wife
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Extension (Y/N)            25 non-null     object
 1   PostCode                   25 non-null     object
 2   Technology                 25 non-null     object
 3   Installed capacity         25 non-null     float64
 4   Declared net capacity      25 non-null     float64
 5   Application date           25 non-null     datetime64[ns]
 6   Commissioning date         25 non-null     datetime64[ns]
 7   MCS issue date             0 non-null      float64
 8   Export status              25 non-null     object
 9   TariffCode                 25 non-null     object
 10  Tariff Description         25 non-null     object
 11  Installation Type          25 non-null     object
 12  Installation Country       25 non-null     object
 13  Government Office Region   25 non-null     object
 14  Local Authority            25 non-null     object
 15  Constituency               25 non-null     object
 16  Accreditation Route        25 non-null     object
 17  MPAN Prefix                24 non-null     float64
 18  Community school category  25 non-null     object
 19  LLSOA Code                 25 non-null     object
 20  MLSOA Code                 25 non-null     object
dtypes: datetime64[ns](2), float64(4), object(15)
memory usage: 4.2+ KB
None

In [ ]:
# code works
import pandas as pd


df1a = pd.read_excel("/content/drive/MyDrive/Spreadsheet/Short1.xlsx", skiprows=4)
print(df1a.columns)
df1a.set_index('PostCode ')
# opposite pandas.DataFrame.reset_index
# print(df1a)
# print(df1a.loc["2010-01-01 00:00:00:2014-01-01 00:00:00","Application date"].max)

print(df1a.loc[0])
print(df1a.loc['360.0'])

In [ ]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
print(df)
print(df.columns)
print(df.loc['viper'])

In [ ]:
# Importing datetime.
from datetime import datetime
import pandas as pd

# this gets rid of 1st unnamed column in csv
# df = pd.read_csv('data.csv', index_col=0)

df1a = pd.read_excel("/content/drive/MyDrive/Spreadsheet/Short1.xlsx", skiprows=4)

# Creating a datetime object so we can test.
df1a = datetime.now()

# Converting a to string in the desired format (YYYYMMDD) using strftime
# and then to int.
a = int(a.strftime('%Y%m%d'))

AttributeError: ignored

In [ ]:

from datetime import datetime

now = datetime.now() # current date and time

year = now.strftime("%Y")
print("year:", year)

month = now.strftime("%m")
print("month:", month)

day = now.strftime("%d")
print("day:", day)

time = now.strftime("%H:%M:%S")
print("time:", time)

date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
print("date and time:",date_time)

year: 2024
month: 01
day: 01
time: 18:54:51
date and time: 01/01/2024, 18:54:51

In [ ]:
import pandas as pd
df = pd.read_csv('example.csv')
df.to_parquet('output.parquet')

In [ ]:
import pandas as pd
import chardet
with open('/content/drive/MyDrive/Spreadsheet/Short1csv.csv', 'rb') as f:
    result = chardet.detect(f.read())  # or readline if the file is large
df = pd.read_csv('/content/drive/MyDrive/Spreadsheet/Short1csv.csv', encoding=result['encoding'])
print(result)

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [ ]:
import os

file_name = "/content/drive/MyDrive/Spreadsheet/Short1.xlsx"

file_stats = os.stat(file_name)

print(file_stats)
print(f'File Size in Bytes is {file_stats.st_size}')
print(f'File Size in KiloBytes is {file_stats.st_size / 1000}')
print(f'File Size in MegaBytes is {file_stats.st_size / (1024 * 1024)}')

os.stat_result(st_mode=33152, st_ino=35, st_dev=50, st_nlink=1, st_uid=0, st_gid=0, st_size=37890, st_atime=1704001571, st_mtime=1704002011, st_ctime=1704002011)
File Size in Bytes is 37890
File Size in KiloBytes is 37.89
File Size in MegaBytes is 0.03613471984863281